* {
    font-family: 'Inter';
}

.container {
    width: 1062px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background-image: url(/images/Rectangle1.jpg);
    max-height: 700px;
}

.logo-img {
    width: 259px;
    height: 100px;
}

.hero-flex {
    display: flex;
    flex-shrink: 0;
}

.hero-flex1 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding-bottom:38px;
    padding-top: 25px;
}

.hero-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
}

.hero-description-top {
    margin-top: 149px;
    max-width: 278px;
}

.hero-description-bottom {
    max-width: 298px;
}

.hero-img {
    width: 152px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-family: 'Headland One';
    font-size: 24px;
    line-height: 1.25;
    color: #26C7EA;
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    padding: 25px 75px 25px 74px;
    margin-top: 45px;
    min-width: 260px;
}

.hero-photo {
    width: 717px;
    height: 600px;
    margin-top: auto;
    margin-left: 115px;
}

.skypeople {
    padding-top: 73px;
    padding-bottom: 10px;
}

.skypeople-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skypeople-title {
    font-size: 36px;
    line-height: 1.22;
    color: #0A3853;
    text-align: center;
    max-width: 851px;
    margin-bottom: 18px;
}

.skypeople-description {
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    text-align: center;
    margin-bottom: 8px;
}

.skypeople-img {
    width: 400px;
    height: 120px;
}

.trailer {
    padding-top: 310px;
    padding-bottom: 310px;
    background-image: url(/images/Rectangle10.jpg);
    max-height: 700px;
}

.trailer-flex {
    display: flex;
    justify-content: center;
}

.trailer-btn {
    font-family: 'Headland One';
    font-size: 24px;
    line-height: 1.25;
    color: #26C7EA;
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    padding: 25px 17px 25px 18px;
}

.energy {
    padding-top: 75px;
    padding-bottom: 10px;
}

.energy-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.energy-title {
    font-size: 36px;
    line-height: 1.22;
    color: #0A3853;
    text-align: center;
    max-width: 857px;
}

.energy-description {
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    text-align: center;
}

.energy-img {
    width: 400px;
    height: 120px;
}

.cards {
    background-image: url(/images/Rectangle20.jpg);
    padding-top: 32px;
    padding-bottom: 43px;
}

.cards-title {
    font-family: 'Headland One';
    font-size: 32px;
    line-height: 1.25;
    color: #1F2426;
    text-align: center;
    margin-bottom: 45px;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.cards-item {
    width: 320px;
    padding-top: 36px;
    padding-bottom: 36px;
    background: rgba(255, 255, 255, 0.7);
}

.cards-paragraph {
    font-family: 'Headland One';
    font-size: 24px;
    line-height: 1;
    color: #000000;
    text-align: center;
}

.cards-img {
    width: 152px;
    height: 40px;
    margin: 40px auto;
}

.mother {
    padding-top: 75px;
    padding-bottom: 10px;
}

.mother-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mother-title {
    font-size: 36px;
    line-height: 1.22;
    color: #0A3853;
    text-align: center;
}

.mother-description {
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    text-align: center;
}

.mother-img {
    width: 400px;
    height: 120px;
}

.footer {
    height: 268px;
    background-image: url(/images/Rectangle12.jpg);
}